@model IEnumerable<TeCAS.ViewModels.CustomerViewModel>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full name</th>
            <th>Account number</th>
            <th>
                <a id="js-new-customer" href="#" class="btn btn-primary btn-sm float-right">New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FullName</td>
                <td>@customer.NumberId</td>
                <td>
                    <a href="#" class="btn btn-xs btn-primary float-right ml-1">Accounts</a>
                </td>
            </tr>

        }
    </tbody>
</table>